body {
  margin: 0 auto;
}

.yellow {
  color: #fcdd06;
}

.logoName {
  /* top: 0px;
    left: 73px;
    width: 107px;
    height: 50px;
    /* UI Properties */
  /* text-align: left;
    font: normal normal 900 40px/15px Muli;
    letter-spacing: 1.6px; */
  color: #ffffff;
}

.MuiToolbar-root {
  top: 0px;
  left: 0px;
  padding: 0px 70px;
  height: 60px;
  /* UI Properties */
  background: #242424 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 53px !important;
  padding-right: 53px !important;
}

.MuiBadge-badge {
  background-color: #fcdd06 !important;
  min-width: 0px !important;
  width: 6px !important;
  height: 14px !important;
  top: 3px !important;
  right: 6px !important;
  color: black !important;
}

.grey {
  background: #f2f2f2 0% 0% no-repeat;
  height: 70vh;
}

.SwiperFlex {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  grid-gap: unset !important;

}

.AddWidth {
  max-width: 337px;

}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding-left: unset !important;
}

.MuiButtonBase-root {
  border-radius: 10px !important;
  letter-spacing: 0.88px
}

.swiper-pagination-bullet-active {
  background: #fcdd06 !important;
}

:root {
  --swiper-theme-color: #000000 !important;
  --swiper-navigation-size: 55px !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;

  top: 96.35% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: 900;
  padding-bottom: 17.5px;
}

.swiper-button-next {
  right: 45.7% !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-bottom: 10px;
}

.swiper-button-prev {
  left: 45.8% !important;
}

section {
  padding-bottom: 35px;
  margin-bottom: 35px;
}

a:-webkit-any-link {
  color: unset !important;
  text-decoration: none !important
}

.cartItem {
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 242px;
  background: #F2F2F2 0% 0% no-repeat;
  justify-content: center;
  padding: 0px 15px;
}

.cartsList {
  margin-left: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;


}

.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-left: unset !important;
}

.css-j5w0w9-MuiStepConnector-root {
  -webkit-flex: unset !important;

  width: 94px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {

  color: #fcdd06 !important;
}